<!DOCTYPE html>
<html ng-app ="myapp">
<head>
  <title>Mongoid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller= "IndexCtrl">
<div ui-view class="" style="min-height:100%;"></div>
</body>
</html>
